
body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: white;
    margin: auto;
}

.container{
    width: 700px;
    margin: 16px auto; /*centers the layout*/

}
h1{
    font-size: 30px;
    color: black;
}
h2{
    font-size: 26px;
    color: black;
}

nav li{
    display: inline;
    margin-right: 75px;

}
.first{
    font-weight: bold;

}

p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: medium;
    color: black;
}

img{
    width: 750px;
    height: 500;
    
}

div{
    width: 750px;
    margin: auto;
}

header{                
    font-size: 18px;
    font-weight: bold;
    color: rgb(47, 0, 255);
    background-color: rgb(196, 184, 115);
    scroll-padding: 200px;
    padding-bottom: 10px;

}
footer{
    font-size: 18px;
    font-weight: bold;
    color: rgb(0, 30, 255);
    background-color: rgb(175, 104, 17);
    padding-left: 30px;
    padding-bottom: 10px;

}

a {
    color: blue;
    text-decoration: none;
}

  /* Visited link style */
a:visited {
    color: rgb(54, 3, 54);
}

  /* Hover style */
a:hover {
    color: rgb(255, 191, 0);
    text-decoration: underline;
}

  /* Active link style */
a:active {
    color: rgb(222, 25, 222);
}